.hero-container {
    padding: 0 32px;
}

.hero-info h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0 15px 0;
}

.hero-info .border-line {
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: #004F94;
    max-width: 400px;
}

.hero-img {
    display: none;
}

.hero-img-mobile {
    padding-top: 44px;
}

.hero-img-mobile img {
    min-width: 100%;
}

.content-box {
    padding: 24px 32px;
    margin-bottom: 20px;
}

.content-box p {
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
}

.hero-info p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
    padding: 44px 0;
}

.img-container {
    width: 100%;
    text-align: center;
    padding: 35px 0 20px 0;
}

.busy-bus img {
    width: 150px;
}

.content-background {
    background-color: #F2F6FA;
}

@media only screen and (min-width: 760px) {
    img {
        max-width: 340px;
    }

    .desktop {
        display: block;
    }

    .centered-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-img .centered-img-container {
        width: 100%;
    }

    .mobile {
        display: none;
    }

    .flex {
        display: flex;
    }

    .flex-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .flex div, .flex-reverse div {
        width: 50%;
    }

    .hero-container {
        display: flex;
        justify-content: space-evenly;
        padding: 60px 0 144px 0;
    }

    .hero-img {
        display: block;
        width: 50%;
        text-align: center;
    }

    .hero-img-mobile {
        display: none;
    }

    .hero-info-container {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 40px }

    .hero-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 360px;
    }

    .hero-info .border-line {
        max-width: 325px;
    }

    .projects-container {
        display: flex;
        justify-content: space-between;
    }

    .projects-container article {
        width: 50%;
    }

    .projects-container article:nth-child(1) {
        margin-right: 10px;
    }

    .projects-container article:nth-child(2) {
        margin-left: 10px;
    }

    .personal-text h3 {
        padding-bottom: 16px;
    }

    .personal-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .padding-right {
        padding-right: 45px;
    }

    .padding-left {
        padding-left: 45px;
    }
}

@media only screen and (min-width: 930px) {
    img {
        max-width: 400px;
    }

    .hero-info {
        max-width: 380px;
    }

    .hero-info .border-line {
        max-width: 400px;
    }

    .content-box {
        padding: 64px 90px;
    }

    .padding-right {
        padding-right: 100px;
    }

    .padding-left {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1130px) {
    img {
        max-width: 500px;
    }

    .hero-info-container {
        padding-left: 80px 
    }

    .hero-info {
        max-width: 498px;
    }
}