* {
    box-sizing: border-box;
}
/* Kudu case study */
.kudu-body h1 {
    font-size: 36px;
}

.kudu-body h2 {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 20px;
}

.kudu-body .content-box {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1015px;
}


 .kudu-body .img-container {
     padding-top: 0;
     text-align: center;
 }

.kudu-hero h1 {
    padding-bottom: 30px;
}

.kudu-hero {
    padding: 56px 32px;
}

.kudu-hero p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
}

.kudu-body .content-box {
    margin-top: 64px;
    padding: 0 32px;
}

.kudu-body .content-box p {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.project-info-list {
    padding-top: 28px;
}

.project-info-list ul {
    margin-left: 24px;
}
.project-info-list ul li {
    line-height: 1.7;
}

.content-box .prototype:nth-child(1) {
    padding-bottom: 40px;
}

.prototype .img-container {
    padding-bottom: 0;
}

.purpose-text li {
    padding-top: 16px;
}

.purpose-text ol {
    list-style-position: inside;
}

.user-survey-graphs figure {
    text-align: center;
    padding-bottom: 45px;
}

.user-survey-graphs figure:nth-last-child(1) {
    padding-bottom: 0;
}

.personas p span {
    padding-left: 15px;
    font-weight: 700;
}

.persona-description {
    padding-bottom: 16px;
}
.persona-description h4 {
    font-size: 16px;
    font-weight: 600;
}
.persona-description ul {
    margin-left: 24px;
}

.personas .img-container {
    padding-top: 20px;
}

.screens img {
     margin-top: 30px;
}

.platform .img-container .spaced-img {
    margin: -20px 0;
}
.platform .img-container img {
    max-width: 200px;
}

.mockups-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}


.mockups-screens .arrow.mobile {
    max-width: 25px;
    margin: 10px;
}

.mockups-screens .arrow.desktop {
    max-width: 100px;
    margin: 10px;
}

/* duplocate */
.paragraph-padding p {
    padding-bottom: 20px;
}

.projects-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kudu-name .img-container {
    padding-bottom: 0;
}

.content-box.conclusion {
    margin-bottom: 64px;
}

.kudu-body .content-box .prototype {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 760px) {
    /* duplocate */
    .flex-container {
        display: flex;
        max-width: 1015px;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .kudu-body .content-box .prototype {
        width: 50%;
    }

    .kudu-body .content-box .prototype .content-container {
        width: 80%;
    }

     .user-survey-graphs {
        display: flex;
        justify-content: space-between;
    }

    .user-survey-graphs div {
        max-height: 400px;
        height: auto;
    }

    .user-survey-graphs div figure {
        height: 100%
    }

    .content-box .user-survey-graphs figure img {
        max-width: 100%;
        /* max-height: 350px;
        height: 100%; */
    }

    .user-survey-graphs figure:nth-last-child(1) {
        padding-bottom: 45px;
    }

    .personas .personas-container {
        display: flex;
        justify-content: space-between;
    }

    .personas .personas-container .persona {
        width: 80%;
    }
    .personas .personas-container .persona .img-container {
        max-width: 430px;
    }

    .screens img {
       max-width: 48%;
    }

    .kudu-logo .img-container, .mood .img-container {
        max-width: 500px;
        margin: auto;
    }

    .mood .font-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mood .font-info .img-container {
        width: 50%;
    }

    .mood .font-info p {
        width: 50%;
        padding-bottom: 0;
    }

    .mockups-screens {
        display: flex;
        flex-direction: row;
    }

    .mockups-screens img {
        max-width: 43%;
    }

    .final-product .img-container {
        max-width: 842px;
        margin: auto;
    }

    .platform .img-container .spaced-img {
       margin: 0;
    }
   
}

@media only screen and (min-width: 930px) {
    
}

@media only screen and (min-width: 1130px) {
   

}