* {
    box-sizing: border-box;
}

.kudu-body h1 {
    font-size: 36px;
}

.kudu-body h2 {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 20px;
}

.kudu-body .content-box {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1015px;
}

 .kudu-body .img-container {
    padding-top: 0;
    text-align: center;
}

.kudu-hero h1 {
    padding-bottom: 30px;
}

.kudu-hero {
    padding: 150px 32px;
}

.kudu-hero p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
}

.kudu-body .content-box {
    margin-top: 64px;
    padding: 0 32px;
}

.kudu-body .content-box p {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.project-info-list {
    padding-top: 28px;
}

.project-info-list ul {
    margin-left: 24px;
}

.project-info-list ul li {
    line-height: 1.7;
}

.content-box .prototype:nth-child(1) {
    padding-bottom: 40px;
}

.prototype .img-container {
    padding-bottom: 0;
}

.purpose-text li {
    padding-top: 16px;
}

.purpose-text ol {
    list-style-position: inside;
}

.user-survey-graphs figure {
    text-align: center;
}

.user-survey-graphs figure:nth-last-child(1) {
    padding-bottom: 0;
}

.personas p span {
    font-weight: 700;
}

.persona-description {
    padding-bottom: 16px;
}

.persona-description h4 {
    font-size: 16px;
    font-weight: 600;
}

.persona-description ul {
    margin-left: 24px;
}

.personas .img-container {
    padding-top: 20px;
    padding-bottom: 16px;
}

.screens img {
    margin-top: 40px;
}

.platform .img-container .spaced-img {
    margin: -20px 0;
}

.platform .img-container img {
    max-width: 200px;
}

.mockups-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.mockups-screens .arrow.mobile {
    max-width: 25px;
    margin: 10px;
}

.mockups-screens .arrow.desktop {
    max-width: 100px;
    margin: 10px;
}

.paragraph-padding p {
    padding-bottom: 20px;
}

.projects-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kudu-name .img-container {
    padding-bottom: 0;
}

.content-box.conclusion {
    margin-bottom: 64px;
}

.kudu-body .content-box .prototype {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.mood .img-container {
    padding: 20px 0 40px;
}

.final-product h2 {
    margin-bottom: 20px;
}

.user-survey-graphs div:nth-child(even) {
    padding: 30px 0;
}

@media only screen and (min-width: 760px) {
    .flex-container {
        display: flex;
        max-width: 1015px;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .kudu-body h1 {
        font-size: 64px;
    }

    .paragraph-padding p {
        padding-bottom: 24px;
    }

    .persona-description {
        padding-bottom: 0;
    }

    .persona-description h4 {
        font-size: 24px;
        padding-bottom: 5px;
    }

    .screens img {
        margin-top: 40px;
    }

    .persona .img-container {
        padding-bottom: 24px;
    }

    .persona-description ul {
        padding-bottom: 24px;
    }

    .kudu-body .content-box .prototype {
        width: 50%;
    }

    .kudu-body .content-box {
        margin-top: 112px;
    }

    .kudu-body h2 {
        font-size: 36px;
    }

    .kudu-body .content-box p, .content-box li {
        font-size: 24px;
    }

    .kudu-hero {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1188px;
        padding: 230px 45px 230px;
        margin: auto;
    }

    .kudu-hero .flex-left, .kudu-hero .flex-right {
        width: 50%;
    }

    .kudu-body .content-box .prototype .content-container {
        width: 80%;
    }

    .user-survey-graphs {
        display: flex;
        justify-content: space-between;
    }

    .user-survey-graphs div {
        max-height: 400px;
        height: auto;
    }

    .user-survey-graphs div:nth-child(even) {
        padding: 0;
    }

    .user-survey-graphs div figure {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content-box .user-survey-graphs figure .img-container {
        max-width: 290px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personas .personas-container {
        display: flex;
        justify-content: space-between;
    }

    .personas .personas-container .persona {
        width: 80%;
    }

    .personas .personas-container .persona .img-container {
        max-width: 95%;
    }

    .screens img {
        max-width: 48%;
    }

    .kudu-logo .img-container, .mood .img-container {
        max-width: 500px;
        margin: auto;
    }

    .mood .img-container {
        padding: 60px 0 67px;
    }

    .mood .font-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mood .font-info .img-container {
        width: 50%;
    }

    .mood .font-info p {
        width: 50%;
        padding-bottom: 0;
    }

    .mockups-screens {
        display: flex;
        flex-direction: row;
    }

    .mockups-screens img {
        max-width: 43%;
    }

    .final-product .img-container {
        max-width: 842px;
        margin: auto;
    }

    .final-product h2 {
        margin-bottom: 40px;
    }

    .platform .img-container .spaced-img {
        margin: 0;
    }
 }

 @media only screen and (min-width: 1200px) {

    .mockups-screens img {
       max-width: 55%;
    }

 }