body {
    font-family: 'Montserrat', sans-serif;
}

header, main {
    max-width: 1188px;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 36px;
}

h1, h3 {
    font-size: 32px;
}

h2, h3 {
    font-weight: 700;
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.content-img {
    width: 100%;
    height: auto;
}

header {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 24px 32px;
}

.desktop {
    display: none;
}
header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav .nav-right .nav-list {
    display: none;
}

header nav .nav-left, header nav .nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav .nav-right {
    justify-content: flex-end;
}

.nav-right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #000000;
    width: 100%;
    justify-content: space-evenly;
}

.nav-right ul li a {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.burger-top {
    height: 3px;
    width: 44px;
    background-color: #000000;
}

.burger-bottom {
    margin-top: 8px;
    height: 3px;
    width: 44px;
    background-color: #000000;
}

.hero-container {
    padding: 0 32px;
}

.hero-info h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0 15px 0;
}

.hero-info .border-line {
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: #004F94;
    max-width: 400px;
}

.hero-img {
    display: none;
}

.hero-img-mobile {
    padding-top: 44px;
}

.content-box {
    padding: 24px 32px;
    margin-bottom: 20px;
}

.content-box p {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
}

.hero-info p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
    padding: 44px 0;
}

.cta-btn {
    padding-top: 20px;
    padding-bottom: 10px;
}

.cta-btn a {
    background-color: #004F94;
    border-radius: 100px;
    padding: 10px 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 14px;
}

.img-container {
    width: 100%;
    text-align: center;
    padding: 35px 0 20px 0;
}

.busy-bus img {
    width: 150px;
}

footer {
    padding: 24px 40px 60px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

footer p {
    text-decoration: underline;
    font-weight: 400;
}

footer .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .social-icons li {
    padding: 10px;
    list-style: none;
}

footer .social-icons img {
    height: 29px;
    width: auto;
}

.content-background {
    background-color: #F2F6FA;
}

/* Kudu case study */
.kudu-body h1 {
    font-size: 36px;
}

.kudu-body h2 {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 23px;
}

.kudu-body .content-box {
    margin-bottom: 30px;
}
.kudu-body img {
    max-width: 300px;
}

.kudu-hero h1 {
    padding-bottom: 40px;
}

.kudu-hero {
    padding: 24px 32px;
}

.kudu-hero p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
}

.kudu-body .content-box p {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.project-text {
    padding-top: 96px;
}

.project-text p {
    padding-bottom: 28px;
}

.project-info-list {
    padding-top: 28px;
}

.project-info-list ul {
    margin-left: 24px;
}
.project-info-list ul li {
    line-height: 1.7;
}

.content-box .prototype:nth-child(1) {
    padding-bottom: 25px;
}

.prototype .img-container {
    padding-bottom: 0;
}

.purpose-text li {
    padding-top: 16px;
}

.purpose-text ol {
    list-style-position: inside;
}

.content-box .purpose-text:nth-child(2) h2 {
    padding-top: 28px;
}

.user-survey-graphs {
    padding-top: 60px;
}

.user-survey-graphs .graph-container {
    text-align: center;
    padding-bottom: 45px;
}

.personas p span {
    padding-left: 15px;
    font-weight: 700;
}

.persona-examples {
    margin: 15px -32px 0 -32px;
}

.persona-examples img {
    min-width: 100%;
}

.wireframes {
    margin-top: 25px;
}

.wireframes p {
    padding-top: 20px;
}

.screens img {
     margin-top: 30px;
}

.platform .hootsuite-text {
    margin-top: -50px;
}

.mockups-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.mockups-screens .arrow {
    max-width: 25px;
    margin: 10px;
}

.mockups-screens .arrow.horizontal {
    display: none;
}

.paragraph-padding p {
    padding-bottom: 20px;
}

.projects-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 760px) {
    img {
        max-width: 340px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .flex {
        display: flex;
    }

    .flex-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .flex div, .flex-reverse div {
        width: 50%;
    }
    
    .hero-container {
        display: flex;
        justify-content: space-evenly;
    }

    .hero-img {
       display: block;
       width: 50%;
       text-align: center;
   }

   .hero-img-mobile {
       display: none;
   }

   .hero-info-container {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
   }

    .hero-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 360px;
    }

    .hero-info .border-line {
        max-width: 325px;
    }

   .projects-container {
       display: flex;
       justify-content: space-between;
   }

   .projects-container article {
       width: 49%;
   }

}

@media only screen and (min-width: 930px) {
    img {
        max-width: 400px;
    }

    .hero-info {
        max-width: 380px;
    }

    .hero-info .border-line {
        max-width: 400px;
    }
}

@media only screen and (min-width: 1130px) {
    img {
        max-width: 500px;
    }

    .header {
        padding: 0;
    }

    header nav .nav-right .nav-list {
        display: flex
    }

    header nav .nav-right {
        justify-content: center;
    }

    header nav .nav-left {
        padding-left: 45px;
    }

    header .nav-right .hamburger-menu {
        display: none;
    }

    .hero-info {
        max-width: 498px;
    }

    .hero-info p {
        font-size: 30px;
        line-height: 1.5;
    }
}